.register {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 250px;
  background-image: url(/src/assets/bg.webp);
  min-height: 700px;
}

.blur {
  background-color: var(--white);
}
