.errorPage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding: 250px 150px;
  background-image: url(../../assets/bg.webp);
}
.errorPage h1 {
  font-size: 54px;
  color: var(--white);
}
.errorPage p {
  font-size: 24px;
}
.errorPage .error-message {
  color: var(--white);
}
.homepage {
  color: var(--blue);
  margin-top: 50px;
}
