.home {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  min-height: 100vh;
  padding: 100px 0;
  overflow: scroll;
}
.home::-webkit-scrollbar {
  display: none;
}
