.home-sidebar {
  position: fixed;
  left: 0;
  top: 100px;
  background-image: url(/src/assets/bg.webp);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  transition: 0.8s ease-in-out;
  z-index: 100;
}
.home-sidebar.toggle {
  width: 101px;
  overflow: hidden;
  transition: 0.1s ease-in-out;
}
.home-sidebar.toggle a {
  flex-direction: row-reverse;
}

@media screen and (max-width: 1520px) {
  .home-sidebar {
    display: none;
  }
  .home-sidebar.show {
    min-width: 220px;
    display: flex;
    z-index: 101;
  }
}
